{% extends "todo_app/base.html" %}

{% block title %}
  Ana sayfa

{% endblock title %}



{% block icerikyazisi %}
    
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4"><center>NDVI ANALİZ</center></h1>
    <p class="lead"><center>NDVI analiz sonuçlarınız için bu siteyi kullanabilirsiniz.</center></p>
    <center><a class="btn btn-outline-success", href="{% url 'ndviolustur'%}" role="button">NDVI oluştur</a></center>
  </div>
</div>
{% endblock icerikyazisi %}

