{% extends "todo_app/base.html" %}

{% block title %}
  NDVI hesaplama sayfası

{% endblock title %}

{% block icerikyazisi %} 

    



<div class="alert alert-success" role="alert" >
    GEOjson yüklemeniz tamamlandı
  </div>

  <div class="jumbotron jumbotron-fluid">
    <div class="container">
  
  <table class="table">
    <thread>
      <tr>
        <th>NDVI</th>
        <th>Tarih</th>
        <th>GEOjson indir</th>
        <th>tif indir</th>
     
      </tr>   
    </thread>
    <tbody>
        <tr>
         <td>
            <a href="/media/books/covers/denemeresmi.png">
            <img src="/media/books/covers/denemeresmi.png" style="width:500px;"></a>
         </td>
         <td>2019-12-19</td>
         <td>
          <a href="/media/books/covers/ndviresim.png" class="btn btn-primary btn-sm" target="_blank">
            geojson indir {{ url }}
          </a>
         </td>
         <td>
           <a href="/media/books/covers/denemeresmi.tif"  class="btn btn-primary btn-sm" target="_blank">
             tif indir
           </a>
         </td>
         <td>
         </td>
        </tr>
    </tbody>
  </table>
  {% for yazi in deneme %}
  <ul class="list-group">
    <li class="list-group-item">{{ yazi }}</li>
  </ul>
  {% endfor %}
  </div>
  </div>
  
  

  {% endblock icerikyazisi %}