{% extends "todo_app/base.html" %}
{% block title %}

  veri yükleme sayfası

{% endblock title %}

{% load crispy_forms_tags %}

{% block icerikyazisi %}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <center><form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <center>{{ form|crispy }}</center>
      <center><button type="submit" class="btn btn-primary">Yükle </button></center>
  </form></center>

  </div>
</div>

   


{% endblock icerikyazisi %}

