{% extends "todo_app/base.html" %}

{% block title %}
  NDVI oluştur sayfası

{% endblock title %}


{% block icerikyazisi %} 

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4"><center>NDVI ANALİZ</center></h1>
    <p class="lead"><center>NDVI oluşturma ekranı</center></p>
</div>
<div class="list-group">
    <a href="#" class="list-group-item list-group-item-action">NDVI oluşturma aşamları</a>
  
    
    <a href="https://geojson.io/" class="list-group-item list-group-item-action list-group-item-primary">https://geojson.io/ adresine girin</a>
    <a href="https://hizliresim.com/ZHsi0J" class="list-group-item list-group-item-action list-group-item-secondary">Bir poligon oluşturun</a>
    <a href="https://hizliresim.com/oz1jMe" class="list-group-item list-group-item-action list-group-item-success">SAVE butonuna basıp GeoJSON olarak kaydedin</a>
    <a href="https://hizliresim.com/vcDJ6X" class="list-group-item list-group-item-action list-group-item-danger">İndirilen GeoJSON dosyanızı sisteme yükleyin </a>
    
  </div>

  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type = "file" name="document" accept=".geojson">
    
    <center><button type="submit" class="btn btn-success" onclick="uyarıMesaj()" >GeoJSON yükleyin</button></center>
    <script>
        function uyarıMesaj() {
          alert("Dosyanız yükleniyor");
        }
        </script>
</form>
{% if url %}
    <p>İşlem tamamlandı kontrol etmek için dosya adını not ediniz: <a href="{{ url }}">{{url}}</a></p>
{% endif %}  
    <center><a  class="btn btn-primary" href="{% url 'ndvihesaplama' %}" role="button" >Başla</a></center>
{% endblock icerikyazisi %}

